.tabMenu {
    display: flex;
    margin: 2rem 0;
}
.tabMenu button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #e0ffc9;
    border: none;
    border-right: 1px solid #ccc;
}

.tabMenu button:last-child {
    border-right: none;
}

.tabMenu button:hover,
.tabMenu button:focus {
    background-color: #6CAE75;
}

.tabMenu button.active {
    background-color: #6CAE75;
}

.reservations h2 {
    margin-top: 0;
    margin-bottom: 16px;
}

