* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}

.html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}


@media only screen and (max-width: 768px) {
    /* on screens smaller than 768px */
    .container {
        flex-direction: column;
    }

    .left, .data {
        width: 100%;
    }
}